<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="23236DrDevelop.SquareMe" Publisher="CN=2C5181F2-C30F-4EA0-A676-61DC3C764E8B" Version="1.1.0.2" />
  <mp:PhoneIdentity PhoneProductId="5c3cb594-9061-44ad-9af9-9d98de6063c1" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Boxed</DisplayName>
    <PublisherDisplayName>BrainOffline</PublisherDisplayName>
    <Logo>Assets\LogoStore.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Boxed.App">
      <m3:VisualElements DisplayName="Boxed" Square150x150Logo="Assets\Logo150.png" Square44x44Logo="Assets\Logo044.png" Description="Boxed" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\LogoWide.png" Square71x71Logo="Assets\Logo071.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="square150x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
  </Capabilities>
</Package>